/*
// bikemap.css
// Author: Albert Hafvenström <albhaf@gmail.com>
//
// Version: 0.2-rc4
*/

#header {
	height: 135px;
}

#footer {
	height: 50px;
	width: 400px;
	font-size: 0.7em;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	height: 120px;
	width: 302px;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

#search_form {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.8em;
}

#actions {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

/* Not used
#refine_search {
	height: 45px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
} */

#results {
	width: 315px;
	height: 490px;
	float: left;
	margin-left: 0%;
	margin-right: auto;
	overflow: auto;
}

#map {
	height: 490px;	
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.stationName {
	font-size: 0.8em;
}

.stationDistance {
	font-size: 0.8em;
}

/* Not used
.form_widget_amount_slider{
		border-top:1px solid #9d9c99;
		border-left:1px solid #9d9c99;
		border-bottom:1px solid #eee;
		border-right:1px solid #eee;
		background-color:#f0ede0;
		height:3px;
		position:absolute;
		bottom:0px;

		}
*/
