<web-app version="2.4"
xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

<!--
<servlet>
<servlet-name>bikemap</servlet-name>
<servlet-class></servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>bikemap</servlet-name>
<url-pattern>/</url-pattern>
</servlet-mapping>
-->
<welcome-file-list>
<welcome-file>
/pages/bikemap.html
</welcome-file>
</welcome-file-list>

</web-app>
